body{
    background-image: url("grass.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.game-title{
    margin-top: 5%;
    color: white;
    font-size: 4rem;
    font-family: "Borel";
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    margin-bottom: 0;
}

.text-container{
    display: inline-flex;
    gap: 80px;
}

.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: whitesmoke;
}

.restart-btn{
    display: block;
    justify-content: center;
    align-self: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-weight: 900;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    transition: ease-in-out 300ms;
}

.restart-btn:hover{
    background-color: rgb(255, 150, 150);
}

.game-board{
    display: block;
    width: 80%;
    margin: 7% 10% 5% 10%;
}

.hole{
    overflow: hidden;
    position: relative;
    margin: 30px;
    display: inline-block;
    background-color: rgb(24, 14, 6);
    height: 80px;
    width: 300px;
    border-radius: 100%;
    box-shadow: 0px 10px rgb(71, 71, 71);
    border: 10px solid rgb(245, 215, 160);
}

.change-color{
    box-shadow: 0px 10px rgb(255, 133, 112);
}

.mole{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 70px;
    bottom: -100px;
}

.row{
    justify-self: center;
}

.hide{
    display: none;
}

.red{
    color: rgb(255, 156, 138);
}

.yellow{
    color: rgb(255, 237, 78);
}

.blue{
    color: rgb(155, 190, 255);
}